<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TemperatureConversionsSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservices.daehosting.com/services/TemperatureConversions.wso"
                binding="basicHttpBinding" bindingConfiguration="TemperatureConversionsSoapBinding"
                contract="teconversion.TemperatureConversionsSoapType" name="TemperatureConversionsSoap" />
        </client>
    </system.serviceModel>
</configuration>